@addTagHelper *, StudioOnline

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<script type="importmap"></script>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
	<header>

		<Grid Columns="max, auto, max" Background="{--ControlBackgroundBrush}">

			<StackPanel Grid.Column="0" Orientation="Horizontal">
				<Image Source="./Assets/Icon.png" Width="48px" Height="48px"/>

				<div class="button @Html.IsSelected("/Index")">
					<a asp-area="" asp-page="/Index">Home</a>
				</div>
			</StackPanel>

			<TextBlock Grid.Column="1" Text="B" Alignment="Center" />

			<partial Grid.Column="2" name="_LoginPartial" />
		</Grid>

	</header>
	<div class="container">
		<main role="main" class="content">
			@RenderBody()
		</main>
	</div>

	<footer class="content">
		<p>Looking for the <a href="@Html.GetSubdomain("marketplace")">marketplace</a>?</p>
		<div class="container">&copy; 2025 - Unlost World</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
