<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<script type="importmap"></script>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav>
			<div>
				<ul>
					<li>
						Studio Fourteen
					</li>
					<li class="button @Html.IsSelected("/Index")">
						<a asp-area="" asp-page="/Index">Home</a>
					</li>
				</ul>

				<partial name="_LoginPartial" />
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="content">
			@RenderBody()
		</main>
	</div>

	<footer class="content">
		<p>Looking for the <a href="@Html.GetSubdomain("marketplace")">marketplace</a>?</p>
		<div class="container">&copy; 2025 - Unlost World</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
