@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using StudioOnline.Identity
@using System.Collections

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
	<Button Path="api/Identity/Disconnect">
		<TextBlock Text="@User.Identity?.Name" />
	</Button>
}
else
{
	IEnumerable<AuthenticationScheme> schemes = await SignInManager.GetExternalAuthenticationSchemesAsync();
	foreach (AuthenticationScheme authScheme in schemes)
	{
		<Button Path="api/Identity/Connect", Method="@Button.HttpMethods.Post" Name="provider" Value="@authScheme.Name">
			<TextBlock Text="Log In" />
		</Button>
	}
}
