@page
@model StudioServer.Pages.MarketplaceModel
@{
    Layout = "Marketplace/Shared/_Layout";
    ViewData["Title"] = "Studio Marketplace";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello marketplace!</p>
</div>
