:root
{
	--MaxWidth: 1024px;

    --ForegroundBrush: #ECECEC;
    --ForegroundLightBrush: #838383;
    --BackgroundBrush: #222222;
    --BackgroundLightBrush: #333333;
    --TrimBrush: #FF1493;
    --ControlBackgroundBrush: #171717;
    --ControlHighlightBrush: #343434;
    --ControlForegroundHighlightBrush: #ECECEC;
    --ControlBackgroundSelectedBrush: #222222;
    --bs-border-color: var(--BackgroundLightBrush);

	background-color: var(--BackgroundBrush);
}

html
{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: var(--ForegroundLightBrush);
    position: relative;
    min-height: 100%;
}

body
{
    margin: 0px;
	height: 100vh;
}

div
{
	box-sizing: border-box;
}

.Border
{
	margin: 0px;
	padding: 3px;
	border-radius: 6px;
	background-color: var(--BackgroundBrush);
}

.ToolbarBorder
{
	margin: 0px;
	padding: 3px;
	border-radius: 0px 0px 6px 6px;
	background-color: var(--BackgroundBrush);
}

.Border .ControlBorder
{
	margin: 1px;
	padding: 3px;
	border-radius: 6px;
	background-color: var(--ControlBackgroundBrush);
}

.Button, .ToggleButton
{
	background-color: var(--ControlBackgroundBrush);
	border-radius: 4px;
	border: none;
	color: var(--ForegroundLightBrush);
	margin: 2px;
	text-align: center;
	text-decoration: none;
	transition: 0.3s;
	padding: 4px 12px;
}

.Button:hover, .ToggleButton:hover
{
	background-color: var(--ControlHighlightBrush);
	color: var(--ControlForegroundHighlightBrush);
}

.ToggleButton-Checked
{
	color: var(--TrimBrush);
}