:root
{
	--MaxWidth: 1024px;

    --ForegroundBrush: #ECECEC;
    --ForegroundLightBrush: #838383;
    --BackgroundBrush: #222222;
    --BackgroundLightBrush: #333333;
    --TrimBrush: #FF1493;
    --ControlBackgroundBrush: #171717;
    --ControlHighlightBrush: #343434;
    --ControlForegroundHighlightBrush: #ECECEC;
    --ControlBackgroundSelectedBrush: #222222;
    --bs-border-color: var(--BackgroundLightBrush);

	background-color: var(--BackgroundBrush);
}

html
{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: var(--ForegroundLightBrush);
    position: relative;
    min-height: 100%;
}

body
{
    margin: 0px;
	height: 100vh;
}

div
{
	box-sizing: border-box;
}