header
{
	background-color: var(--ControlBackgroundBrush);
}

header ul
{
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

header li
{
	float: left;
}

header .active
{
	color: var(--TrimBrush);
}

header li a
{
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: inherit;
}

header li a:hover
{
	background-color: var(--ControlHighlightBrush);
}

